<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.endou.jellysagacheats</string>
			<key>key</key>
			<string>kLives</string>
			<key>label</key>
			<string>Instant Lives</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Score Modifier</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>candycrush</string>
			<key>key</key>
			<string>kscore</string>
			<key>label</key>
			<string>Score Modifier</string>
			<key>cellClass</key>
			<string>PinkSwitchTableCell</string>
		</dict>
		<dict>
			<key>alignment</key>
			<string>3</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>candycrush</string>
			<key>key</key>
			<string>kscoreval</string>
			<key>label</key>
			<string>Modifier</string>
			<key>max</key>
			<real>1000000000</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<false/>
			<key>cellClass</key>
			<string>PinkSliderTableCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
								</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.endou.jellysagacheats</string>
			<key>key</key>
			<string>kUnlock</string>
			<key>label</key>
			<string>Unlock All Levels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
								</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.endou.jellysagacheats</string>
			<key>key</key>
			<string>kComplete</string>
			<key>label</key>
			<string>Auto Complete Levels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
								</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.endou.jellysagacheats</string>
			<key>key</key>
			<string>kUnlockBoosters</string>
			<key>label</key>
			<string>Unlock Boosters</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
								</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.endou.jellysagacheats</string>
			<key>key</key>
			<string>kStars</string>
			<key>label</key>
			<string>Always get 3 Stars</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Number of Candy Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>default</string>
			<key>defaults</key>
			<string>candycrush</string>
			<key>key</key>
			<string>kcolors</string>
			<key>label</key>
			<string>Number of Candy Colors</string>
			<key>validTitles</key>
			<array>
				<string>default</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>-1</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>cellClass</key>
			<string>PinkSegmentTableCell</string>
		</dict>
		<dict>
						<key>cell</key>
						<string>PSSwitchCell</string>
									<key>default</key>
						<false/>
						<key>defaults</key>
			<string>com.endou.jellysagacheats</string>
			<key>key</key>
			<string>Boosters</string>
			<key>label</key>
			<string>Boosters Modfier</string>
		</dict>
		<dict>
						<key>cell</key>
						<string>PSSliderCell</string>
						<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.endou.jellysagacheats</string>
			<key>key</key>
			<string>Boostersslider</string>
						<key>max</key>
						<real>99</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
					</dict>
		<dict>
						<key>cell</key>
						<string>PSSwitchCell</string>
									<key>default</key>
						<false/>
						<key>defaults</key>
			<string>com.endou.jellysagacheats</string>
			<key>key</key>
			<string>kMoves</string>
			<key>label</key>
			<string>Boosters Modfier</string>
		</dict>
		<dict>
						<key>cell</key>
						<string>PSSliderCell</string>
						<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.endou.jellysagacheats</string>
			<key>key</key>
			<string>kMovesslider</string>
						<key>max</key>
						<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
					</dict>
	</array>
	<key>title</key>
	<string>JellySaga Cheats</string>
</dict>
</plist>
